[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-ckeditor = "*"
djangorestframework = "*"
django-cleanup = "*"
django-templated-mail = "*"
django-cors-headers = "*"
gunicorn = "*"

[requires]
python_version = "3.10"
